.sign__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .sign__link {
    font-size: 12px;
    line-height: 14.52px;
    margin-top: 20px;
  }
}
